[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
word_counter = "pipenv run python -m src.word_counter.main"
format = "ruff format ."
type_check = "mypy ."
bandit = "bandit ."
test = "pytest"

[packages]
click = "*"

[dev-packages]
mypy = "*"
ruff = "*"
bandit = "*"
pytest = "*"

[requires]
python_version = "3.12"
